<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="docaAddr" value="10.100.0.3"/>
    <add key="printerForBracelet" value="Brother TD-2120N" />
    <add key="printerForLab" value="Samsung ML-2580 Series (USB002)" />
    <add key="printOrPreview" value="2" />    <!--1=print | 2=preview-->
    <add key="delayRepeat" value="0" />    <!--delay in seconds-->
    <add key="braceletEnable" value="1"/>
    <add key="labEnable" value="1"/>
  </appSettings>
</configuration>
